:root {
    --brand-color: #000;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196F3;
    --background-color: #2F303A;
    --background-button: #2196F3;
}


body {
    /* Головна */
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 1600px;
    height: 2346px;
    padding:0px;

    font-style: normal;

    color: var(--primary-text-color);
    background: #FFFFFF;
}

/*_____________________Header___________________*/
.header {
    margin: 0 auto;
    position: absolute;
    width: 1600px;
    height: 80px;

    background: #FFFFFF;
}

/* WebStudio */
.name-header {
    margin: 24px 1240px 25px 215px;

    width: 145px;
    height: 31px;

    position:absolute;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;

    text-decoration: none;
    color: var(--brand-color);
}

.name-title,
.name-footer {
    color: var(--accent-text-color);
}

/*__________________Меню_____________________*/

.menu-list,
.menu-contacts {
    list-style: none;
    border: none;
    cursor: pointer;
}

.menu-list {
    margin: 32px 866px 32px 453px;
    padding-left: 0px;
    width: 281px;
    height: 16px;
    display: flex;
    justify-content: flex-start; 
    flex-direction: row;
}

.menu-item,
.link {
    margin-left: 0px;
    padding-right: 50px;

    text-decoration: none;

    color: var(--primary-text-color);
}

    /* Контакти з посиланнями*/
    /* E-mail */
.mail-link {
    position: absolute;
    width: 135px;
    height: 16px;
    top: 32px;
    left: 1078px;


    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
}
    /* Tel */
.tel-link {
    position: absolute;
    width: 122px;
    height: 16px;
    top: 32px;
    left: 1263px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
}

.link,
.mail-link,
.tel-link {
    text-decoration: none;
}

.link:hover,
.link:focus,
.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus {
    color: var(--accent-text-color);
}

 /*___________________Шапка____________________*/
.title {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;

    background: var(--background-color);
}

.title-name{
    /* Ефективні рішення для вашого бізнесу */
    padding: 200px 452px 280px;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;

    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.title button[type="button"] {
    /* Button */
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;

    cursor: pointer;
    
    color: #FFFFFF;
    background: var(--background-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.title button[type="button"]:hover,
.title button[type="button"]:focus {
    color: var(--accent-text-color);
}

/* ___________________Особливості_________________________ */

.describe {
    margin-top: 774px 215px 1474px 215px;
}

.describe-title {
    content-visibility: hidden;
}

.describe-list {
    position: absolute;
    display: flex;
    
    list-style: none;

    width: 1170px;
    height: 98px;
    left: 215px;
    top: 774px;
}

.describe-list > h3 {
    flex-flow: wrap row;
    justify-content: flex-start;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);
}

.describe-item > .describe-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;
    color: var(--secondary-text-color);

}

/*__________________Чим ми займаємося_______________*/

.our-business-title {
    margin: 0px;
    position: absolute;
    width: 366px;
    height: 42px;
    left: 402px;
    top: 0px;
    
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);
}

.our-business {
    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 966px;

    display: flex;
    align-items: flex-end;
}

.our-business-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    list-style: none;
}

.our-business-item {
    padding-right: 30px;

}

/* __________________Наша команда_________________ */
.our-command-title {
    position: absolute;
    width: 264px;
    height: 42px;
    left: 668px;
    top: 94px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.our-command {
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1446px;

    background: #F5F4FA;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.our-command-list {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    list-style: none;

    width: 1170px;
    height: 368px;
    left: 215px;
    top: 1632px;
}

.our-command-item {
    padding-right: 30px;

}

.our-command-item > h3,
.our-command-item > p {
    display: flex;
    justify-content: center;
}

/*___________________Підвал__________________________*/
.footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;

    background: var(--background-color);
}

.name-footer {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 60px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
 /* identical to box height */

    letter-spacing: 0.03em;

    text-decoration: none;

    color: #FFFFFF;
}

.adress-list {
    list-style: none;
    padding-left: 0px;

    position: absolute;
    width: 231px;
    height: 81px;
    left: 215px;
    top: 111px;

    text-decoration:none;
}

.adress-list .link:hover,
.adress-list .link:focus {
    color: var(--accent-text-color);
}

.adress-list a[href="https://goo.gl/maps/f6Jy9NrF3AqPm8kXA"] {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;

    text-decoration:none;
    color: #fff;
}

.adress-list a[href="mailto:info@devstudio.com"],
.adress-list a[href="tel:+380961111111"] {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    text-decoration:none;
}

.adress-item:hover,
.adress-item:focus {
    color: var(--accent-text-color);
}

/*__________________Portfolio________________________*/
.portfolio-list {
    position: absolute;
    width: 575px;
    height: 54px;
    left: 512px;
    top: 174px;

    color: #212121;
}

.portfolio-item {
    display: inline-block;
    background: #F5F4FA;
    border-radius: 4px;
}

.portfolio-item:hover {
    background-color: #2196F3;
}

.portfolio-list > .portfolio-item {

}



