:root {
    --brand-color: #000;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196F3;
    --background-color: #2F303A;
    --background-button: #2196F3;
}


body {
    /* Головна */
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    position: relative;
    height:2346px;
    width:1600px;
    padding:0px;

    color: var(--primary-text-color);
    background: #FFFFFF;
}

/*_____________________Header___________________*/
.header {
    margin: 0 auto;
    position: absolute;
    width: 1600px;
    height: 80px;

    background: #FFFFFF;
}

/* WebStudio */
.name-header {
    margin: 24px 1240px 25px 215px;

    width: 145px;
    height: 31px;

    position:absolute;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;

    text-decoration: none;
    color: var(--brand-color);
}

.name-title {
    color: var(--accent-text-color);
}

/*__________________Меню_____________________*/

.menu-list,
.menu-contacts {
    list-style: none;
    border: none;
}

.menu-list {
    margin: 32px 866px 32px 453px;
    padding-left: 0px;
    width: 281px;
    height: 16px;
    display: flex;
    justify-content: flex-start; 
    flex-direction: row;
}

.menu-item {
    margin-left: 0px;
    padding-right: 50px;

    font-style: normal;
    text-decoration: none;
    color: var(--primary-text-color);
}

    /* Контакти з посиланнями*/


    /* E-mail */
.mail-link {
    margin: 32px 387px 2298px 1078px;
    width: 135px;
    height: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
    color: var(--secondary-text-color);
}

    /* Tel */
.tel-link {
    margin: 32px 215px 32px 1263px;
    width: 122px;
    height: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
    color: var(--secondary-text-color);
}

.menu-item:hover,
.menu-item:focus,
.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus {
    color: var(--accent-text-color);
}

 /*___________________Шапка____________________*/
.title {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;

    background: #2F303A;
}

.title-name{
    /* Ефективні рішення для вашого бізнесу */
    font-style: normal;
    margin: 200px 452px 280px;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.title button[type="button"] {
    /* Button */
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* ___________________Особливості_________________________ */

.describe {
    margin: 94px 215px ;
    width: 1170px;
    height: 98px;
    left: 215px;
    top: 774px;
}

.describe-title {
    content-visibility: hidden;
}

.describe-list {
    margin-top: 94px;
    position: absolute;
    display: flex;
    list-style: none;

    width: 1170px;
    height: 98px;
    left: 215px;
    top: 774px;
}

.describe-item {

}

/*__________________Чим ми займаємося_______________*/
.our-business {
    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 966px;

    display: flex;
    align-items: stretch;
    justify-content: center;
}

.our-business-title {
    position: absolute;
    width: 366px;
    height: 42px;
    left: 617px;
    top: 966px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.our-business-list {
    display: flex;
    list-style: none;
/*test*/
    display: flex;
    align-items: stretch;
    justify-content: left;
}

.pic-one {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1058px;
}



/* __________________Наша команда_________________ */
.our-command {
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1446px;
}

.footer {
    /* Підвал */
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
}

/*__________________Portfolio________________________*/
.portfolio-list {
    position: absolute;
    width: 575px;
    height: 54px;
    left: 512px;
    top: 174px;

    color: #212121;
}

.portfolio-item {
    display: inline-block;
    background: #F5F4FA;
    border-radius: 4px;
}

.portfolio-item:hover {
    background-color: #2196F3;
}

.portfolio-list>.portfolio-item {


}



