body {
    /* Головна */
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;

}

.header {
    /* Хедер */
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
}

.name-header {
    /* WebStudio */
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #000000;
}

.name-title {
    color: #2196F3;
}

.menu-list {
    position: absolute;
    margin-left: 93px;
    display: flex;
    list-style: none;
    margin: 32px 866px 32px 453px;
    color: #212121;
}

.menu-item:hover,
.mail-link:hover,
.tel-link:hover {
    color: #2196F3;
}

.menu-item {
    /* Menu Nav */
    font-style: normal;
    padding: 0px 50px;
    text-decoration: none;
    color: #212121;

}

.menu-contacts {
    list-style: none;
}

.mail-link {
    /* E-mail */
    position: absolute;
    text-decoration: none;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

.tel-link {
    /* Tel */
    position: absolute;
    text-decoration: none;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

.title {
    /* Шапка */
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;

    background: #2F303A;
}

.title-name{
    /* Ефективні рішення для вашого бізнесу */
    font-style: normal;
    margin: 200px 452px 280px;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.title button[type="button"] {
    /* Button */
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.describe {
    /* Особливості */
    position: absolute;
    width: 1170px;
    height: 98px;
    left: 215px;
    top: 774px;
}

.our-business {
    /* Чим ми займаємося */
    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 966px;
}

.our-command {
    /* Наша команда */
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1446px;
}

.footer {
    /* Підвал */
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
}

/*-------------Portfolio---------*/
.portfolio-list {
    position: absolute;
    width: 575px;
    height: 54px;
    left: 512px;
    top: 174px;

    color: #212121;
}

.portfolio-item {
    display: inline-block;
    background: #F5F4FA;
    border-radius: 4px;
}

.portfolio-item:hover {
    background-color: #2196F3;
}

.portfolio-list>.portfolio-item {


}



